@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <NotAuthorized>
            @code {
                protected override void OnInitialized()
                {
                    // to avoid loop cycle in browser
                    if (!navigationManager.Uri.Contains("/login"))
                    {
                        navigationManager.NavigateTo("/login", true);
                    }
                }
            }
        </NotAuthorized>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
